@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  background: #111111;
}
.header__logo{
  cursor: pointer;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
}
.header__menu-list{
  display: flex;
  li{
    margin-right: 33px;
    position: relative;
    a{
      padding: 8px 0;
    }
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: transparent;
      bottom: -6px;
      transition: all .2s;
    }
    &:hover{
      &::before{
        background-color: $red;
      }
    }
  }
  .current-page::before{
    background-color: $red;
  }
  a{
    font-family: 'Gotham Pro Light';
  }
}
.header__number{
  font-family: 'Gotham Pro bold';
  line-height: 15px;
}
.header-main{
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.header-main__title {
  padding-top: 183px;
  font-size: 64px;
  line-height: 65px;
  font-weight: 700;
  max-width: 666px;
}
.header-main__subtitle {
  padding: 42px 0 76px;
  max-width: 564px;
  line-height: 32px;
  font-size: 24px;
}
.header-main__btn {
  margin-bottom: 165px;
}
.header-main__descr {
  display: flex;
  align-items: center;
  height: 82px;
  padding-bottom: 117px;
  .header-main__descr-img{
    z-index: 1;
  }
}
.header-main__descr-text {
  max-width: 426px;
  margin-top: -15px;
}
.header-main__img {
  position: absolute;
  right: 340px;
  top: 110px;
  img{
    max-height: 825px;
  }
}
.newbie__items {
  padding-bottom: 71px;
  display: flex;
  justify-content: space-between;
}
.newbie__title-wrapper{
  padding: 73px 0 66px;
}
.newbie-item {
  max-width: 370px;
  background-color: #fff;
}
.newbie-item__icon {
  text-align: center;
  margin: 46px 0
}
.newbie-item__title {
  line-height: 26px;
  margin: 0 auto 36px;
  max-width: 260px;
  font-size: 20px;
  position: relative;
  &::before{
    content: '';
    width: 42px;
    height: 2px;
    background-color: $red;
    position: absolute;
    bottom: -9px;
    left: 0;
  }
}
.newbie-item__descr {
  line-height: 24px;
  color: #777777;
  max-width: 254px;
  font-size: 18px;
  margin: 0 auto 40px;
}
.newbie-item__btn {
  margin: 0 auto 36px;
  text-align: center;
  min-width: 270px;
  a{
    min-width: 270px;
  }
}
.trader-wrapper{
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
}
.trader-info,
.info{
  background-color: #fff;
  width: 1145px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.info__title{
  margin: 76px 0 62px 203px;
  text-align: center;
}
.info__box{
  display: flex;
  padding-left: 99px;
}
.info__box-img{
  margin-right: 36px;
}
.info__box-title{
  font-size: 36px;
  line-height: 42px;
  max-width: 513px;
  margin-bottom: 11px;
}
.info__box-subtitle{
  font-size: 18px;
  color: #777;
  max-width: 420px;
  margin-bottom: 60px;
}
.info__btns{
  margin: 0 30px 75px 200px;
}
.info__link{
  margin-left: 30px;
}
.investor{
  background-image: url(../images/investor-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  &-bg{
    img{
      width: 100%;
    }
    // max-height: 1130px;
    max-height: 1130px;
  }
  .info{
    top: 0;
    left: 0;
    max-height: 929px;
    padding-left: 300px;
    z-index: 3;
  }
}

.reviews{
  background-image: url(../images/reviews-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .title{
    color: #fff;
  }
  .title-wrapper{
    padding: 80px 0;
  }
}
.reviews-slider{
  position: relative;
  max-width: 1088px;
  margin: 0 auto;
}
.slider-arrows{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &__left{
    left: -85px;
  }
  &__right{
    right: -85px;
  }
}
.reviews-box{
  text-align: center;
  width: 1088px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &__text{
    background-color: #fff;
    width: 586px;
    max-height: 500px;
  }
}
.reviews-box__img{
  img{
    max-width: 586px;
    max-height: 500px;
  }
}
.reviews-box__text-title{
  font-size: 24px;
  line-height: 23px;
  font-weight: 700;
  padding: 114px 0 12px;
}
.reviews-box__text-subtitle{
  color: #777;
}
.reviews-box__text-img{
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.reviews-box__text-descr{
  width: 415px;
  font-size: 24px;
  line-height: 32px;
  color: #777777;
}
.reviews-box__text-descr--inner{
  display: flex;
  justify-content: center;
}
.reviews__btn{
  width: 1088px;
  display: flex;
  justify-content: flex-start;
  margin: -25px auto;
  padding-bottom: 80px;
  a{
    background-color: transparent;
    border: 1px solid #fff;
    transition: all 0.2s;
    z-index: 1;
    &:hover{
      background-color: rgba(#ccc,.20);
    }
  }
}
.slider-dots{
  display: flex;
  width: 1088px;
  margin: 66px auto 0;
  justify-content: flex-end;
  li{
    border-radius: 50%;
    font-size: 0;
    width: 6px;
    height: 6px;
    background-color: rgba(#fff,.5);
    margin-left: 20px;
    button{
      display: none;
    }
  }
}
.slider-dots .slick-active{
  background-color: #fff;
  position: relative;
  width: 1px;
  height: 1px;
  padding: 3px;
  &::before{
    content: url(../images/active-dots.svg);
    top: -9px;
    left: -6px;
    position: absolute;
  }
}
.timetable{
  position: relative;
}
.timetable__title{
  margin: 94px 0 78px;
  &-wrapper{
    text-align: center;
  }
}
.table{
  max-width: 1170px;
  margin: 0 auto;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
  position: relative;
  background: #fff;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  &::before{
    content: '';
    width: 1030px;
    height: 1px;
    background-color: rgba(153, 153, 153, 0.15);
    position: absolute;
    bottom: 194px;
  }
}

.table-box{
  width: 585px;
}
.table-rowtitle{
  background-color: $red;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  display: flex;
}
.table-rowtitle__date{
  padding: 28px 35px 14px 70px;
}
.table-rowtitle__name{
  padding: 28px 0 28px 51px;
}
.table-row{
  display: flex;
}
.table-row--gray{
  background-color: #f4f4f4;
}
.table-row--white{
  background-color: #fff;
}
.table-row__date{
  span{
    line-height: 56px;
    color: #E31E25;
    font-size: 36px;
    display: block;
    padding: 43px 35px 0 0;
  }
  line-height: 20px;
  color: #777777;
  font-size: 16px;
  width: 45px;
  padding: 0 27px 45px 69px;
  position: relative;
  &::before{
    content: '';
    width: 2px;
    height: 110px;
    background-color: rgba(#999,.35);
    position: absolute;
    top: 38px;
    right: -53px;
  }
}
.table-row__name{
  margin-left: 100px;
  padding-top: 60px;
  max-width: 325px;
  span{
    line-height: 20px;
    color: #777;
    font-size: 16px;
    display: block;
  }
  line-height: 36px;
  font-size: 30px;
}
.table-btn{
  box-shadow: 0px 5px 10px rgba(225, 83, 83, 0.15);
  margin: 70px auto 76px;
}
.request{
  width: 1170px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/form-bg.jpg);
  background-repeat: no-repeat;
  color: #fff;
  z-index: 2;
  &__inner{
    background-image: url(../images/form-placeholder.png);
    background-repeat: no-repeat;
    padding-left: 100px;
    position: relative;
  }
  &-title{
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  &__title-1{
    padding-top: 63px;
  }
}
.request__descr{
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}
.request__descr-attention {
  padding: 13px 20px 12px 21px;
  border: 2px dashed $red;
}
.request__descr-text {
  max-width: 537px;
  line-height: 20px;
  margin-left: 13px;
}
.footer-request{
  margin: -250px auto;
  z-index: 999;
}
form,
.form{
  max-height: 270px;
}
.form__inputs{
  display: flex;
  margin-bottom: 20px;
}
.form__input{
  margin-right: 30px;
  input{
    width: 270px;
    height: 48px;
    padding: 10px;
    font-size: 18px;
  }
  span{
    display: block;
    padding-bottom: 3px;
  }
}
.form__checkbox{
  display: flex;
  align-items: flex-start;
  margin-bottom: 43px;
  .checkbox{
    margin-right: 15px;
    input{
      width: 20px;
      height: 20px;
      margin-top: 5px;
      color: $red;
    }
  }
  &-text{
    font-size: 14px;
    max-width: 552px;
    line-height: 20px;
  }
}
.form__button{
  margin-bottom: 48px;
}
.form__img img{
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer{
  margin-top: 330px;
}
.card{
  color: #222;
	max-width: 364px;
	padding: 0 44px;
	text-align: center;
	background-color: #fff;
	&__img{
		padding: 62px 0 28px;
	}
	&__address{
		font-size: 18px;
		padding-bottom: 28px;
	}
	&__number{
		line-height: 32px;
		color: $red;
		font-size: 24px;
		padding: 15px 0;
		border-top: 1px dashed #ccc;
		border-bottom: 1px dashed #ccc;
	}
	&__date{
		margin-top: 23px;
		padding-bottom: 53px;
	}
}
.footer-card{
  position: absolute;
  left: 0;
  bottom: -480px;
}
.footer-text{
  padding: 43px 0 72px;
  line-height: 20px;
  color: #999999;
  font-size: 14px;
  max-width: 1170px;
  margin: 0 auto;
}








@import "media";
